body {
    background-color: #fdfdfd;
    margin-top: 50px;
    font-size: 20px;
}

#loginForm {
    background-color: #ccc;
    margin: 0 auto;
    padding: 20px;
    width: 180px;
    
}